body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
img {
  width: 5%;
  margin: 5%;
}

.logo {
  width: 200%;
}

.navbar-nav {
  margin-left: 90%;
  font-family: cursive;
}

.navbar {
  background-color: #E9EFC0;
}

.top-container {
  background-color: #E9EFC0;
  position: relative;
}
.aboutUS{
  padding: 0 20% ;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}
